<p style="text-align:center">
	<a href="http://dadamailproject.com/purchase/pro.html" target="_blank">
		<img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/upgrade_to_pro_dada.jpg" style="border:0px" />
	</a>
</p>